In [60]:
import os 
from config import key
import pandas as pd
import requests
import warnings

#ignore future warnings error
warnings.simplefilter(action='ignore', category=FutureWarning)

In [61]:
columns = ["population", "state"]
popData = pd.DataFrame(columns=columns)

In [62]:
baseURL = "https://api.census.gov/data/2017/pep/population?get="
targetURL = (baseURL + "POP,GEONAME&for=state:*&key=" + key) 
resp = requests.get(targetURL).json()
resp

[['POP', 'GEONAME', 'state'],
 ['4874747', 'Alabama', '01'],
 ['739795', 'Alaska', '02'],
 ['7016270', 'Arizona', '04'],
 ['3004279', 'Arkansas', '05'],
 ['39536653', 'California', '06'],
 ['5607154', 'Colorado', '08'],
 ['3588184', 'Connecticut', '09'],
 ['961939', 'Delaware', '10'],
 ['693972', 'District of Columbia', '11'],
 ['20984400', 'Florida', '12'],
 ['10429379', 'Georgia', '13'],
 ['1427538', 'Hawaii', '15'],
 ['1716943', 'Idaho', '16'],
 ['12802023', 'Illinois', '17'],
 ['6666818', 'Indiana', '18'],
 ['3145711', 'Iowa', '19'],
 ['2913123', 'Kansas', '20'],
 ['4454189', 'Kentucky', '21'],
 ['4684333', 'Louisiana', '22'],
 ['1335907', 'Maine', '23'],
 ['6052177', 'Maryland', '24'],
 ['6859819', 'Massachusetts', '25'],
 ['9962311', 'Michigan', '26'],
 ['5576606', 'Minnesota', '27'],
 ['2984100', 'Mississippi', '28'],
 ['6113532', 'Missouri', '29'],
 ['1050493', 'Montana', '30'],
 ['1920076', 'Nebraska', '31'],
 ['2998039', 'Nevada', '32'],
 ['1342795', 'New Hampshire', '33'],
 ['9005644', 'New Jersey', '34'],
 ['2088070', 'New Mexico', '35'],
 ['19849399', 'New York', '36'],
 ['10273419', 'North Carolina', '37'],
 ['755393', 'North Dakota', '38'],
 ['11658609', 'Ohio', '39'],
 ['3930864', 'Oklahoma', '40'],
 ['4142776', 'Oregon', '41'],
 ['12805537', 'Pennsylvania', '42'],
 ['1059639', 'Rhode Island', '44'],
 ['5024369', 'South Carolina', '45'],
 ['869666', 'South Dakota', '46'],
 ['6715984', 'Tennessee', '47'],
 ['28304596', 'Texas', '48'],
 ['3101833', 'Utah', '49'],
 ['623657', 'Vermont', '50'],
 ['8470020', 'Virginia', '51'],
 ['7405743', 'Washington', '53'],
 ['1815857', 'West Virginia', '54'],
 ['5795483', 'Wisconsin', '55'],
 ['579315', 'Wyoming', '56'],
 ['3337177', 'Puerto Rico', '72']]

In [63]:
count = 0
firstline = True

for item in resp:
    if firstline:
        firstline = False
        continue
        
    popData.set_value(count, "population", item[0])
    popData.set_value(count, "state", item[1])
    count +=1
    
popData.head()

  population       state
0    4874747     Alabama
1     739795      Alaska
2    7016270     Arizona
3    3004279    Arkansas
4   39536653  California

In [70]:
url = "https://www.bls.gov/lau/lastrk17.htm"
unempDF = pd.read_html(url)

unempDF = unempDF[0]
unempDF.dropna(inplace = True)
unempDF.drop(columns=['Rank'], inplace=True, axis=1)
unempDF = unempDF.rename(columns = {'State': 'state',
                           '2017rate': '2017 rate'})
unempDF

                   state  2017 rate
2                 Hawaii        2.4
3           North Dakota        2.6
4          New Hampshire        2.7
5               Colorado        2.8
6               Nebraska        2.9
7                Vermont        3.0
8                   Iowa        3.1
9                  Idaho        3.2
10                  Utah        3.2
11                 Maine        3.3
12          South Dakota        3.3
13             Wisconsin        3.3
14               Indiana        3.5
15             Minnesota        3.5
16                Kansas        3.6
17              Arkansas        3.7
18         Massachusetts        3.7
19             Tennessee        3.7
20              Missouri        3.8
21              Virginia        3.8
22               Montana        4.0
23              Maryland        4.1
24                Oregon        4.1
25               Florida        4.2
26               Wyoming        4.2
27              Oklahoma        4.3
28        South Carolina        4.3
29                 Texas        4.3
30               Alabama        4.4
31          Rhode Island        4.5
32              Delaware        4.6
33              Michigan        4.6
34            New Jersey        4.6
35        North Carolina        4.6
36           Connecticut        4.7
37               Georgia        4.7
38              New York        4.7
39            California        4.8
40            Washington        4.8
41               Arizona        4.9
42              Kentucky        4.9
43          Pennsylvania        4.9
44              Illinois        5.0
45                Nevada        5.0
46                  Ohio        5.0
47             Louisiana        5.1
48           Mississippi        5.1
49         West Virginia        5.2
50  District of Columbia        6.1
51            New Mexico        6.2
52                Alaska        7.2

In [78]:
saURL = 'http://docs-hoarder.mapd.com/latest/3_apdx_states.html'
saDF = pd.read_html(saURL)
saDF[1]

                   State Abbreviation
0                Alabama           AL
1                 Alaska           AK
2                Arizona           AZ
3               Arkansas           AR
4             California           CA
5               Colorado           CO
6            Connecticut           CT
7               Delaware           DE
8   District of Columbia           DC
9                Florida           FL
10               Georgia           GA
11                Hawaii           HI
12                 Idaho           ID
13              Illinois           IL
14               Indiana           IN
15                  Iowa           IA
16                Kansas           KS
17              Kentucky           KY
18             Louisiana           LA
19                 Maine           ME
20              Maryland           MD
21         Massachusetts           MA
22              Michigan           MI
23             Minnesota           MN
24           Mississippi           MS
25              Missouri           MO
26               Montana           MT
27              Nebraska           NE
28                Nevada           NV
29         New Hampshire           NH
30            New Jersey           NJ
31            New Mexico           NM
32              New York           NY
33        North Carolina           NC
34          North Dakota           ND
35                  Ohio           OH
36              Oklahoma           OK
37                Oregon           OR
38          Pennsylvania           PA
39          Rhode Island           RI
40        South Carolina           SC
41          South Dakota           SD
42             Tennessee           TN
43                 Texas           TX
44                  Utah           UT
45               Vermont           VT
46              Virginia           VA
47            Washington           WA
48         West Virginia           WV
49             Wisconsin           WI
50               Wyoming           WY
51           Puerto Rico           PR