In [41]:
import os 
from config import key
import pandas as pd
import requests
import warnings

#ignore future warnings error
warnings.simplefilter(action='ignore', category=FutureWarning)

In [42]:
columns = ["population", "state"]
popData = pd.DataFrame(columns=columns)

In [43]:
baseURL = "https://api.census.gov/data/2017/pep/population?get="
targetURL = (baseURL + "POP,GEONAME&for=state:*&key=" + key) 
resp = requests.get(targetURL).json()
resp

[['POP', 'GEONAME', 'state'],
 ['4874747', 'Alabama', '01'],
 ['739795', 'Alaska', '02'],
 ['7016270', 'Arizona', '04'],
 ['3004279', 'Arkansas', '05'],
 ['39536653', 'California', '06'],
 ['5607154', 'Colorado', '08'],
 ['3588184', 'Connecticut', '09'],
 ['961939', 'Delaware', '10'],
 ['693972', 'District of Columbia', '11'],
 ['20984400', 'Florida', '12'],
 ['10429379', 'Georgia', '13'],
 ['1427538', 'Hawaii', '15'],
 ['1716943', 'Idaho', '16'],
 ['12802023', 'Illinois', '17'],
 ['6666818', 'Indiana', '18'],
 ['3145711', 'Iowa', '19'],
 ['2913123', 'Kansas', '20'],
 ['4454189', 'Kentucky', '21'],
 ['4684333', 'Louisiana', '22'],
 ['1335907', 'Maine', '23'],
 ['6052177', 'Maryland', '24'],
 ['6859819', 'Massachusetts', '25'],
 ['9962311', 'Michigan', '26'],
 ['5576606', 'Minnesota', '27'],
 ['2984100', 'Mississippi', '28'],
 ['6113532', 'Missouri', '29'],
 ['1050493', 'Montana', '30'],
 ['1920076', 'Nebraska', '31'],
 ['2998039', 'Nevada', '32'],
 ['1342795', 'New Hampshire', '33'],
 ['9005644', 'New Jersey', '34'],
 ['2088070', 'New Mexico', '35'],
 ['19849399', 'New York', '36'],
 ['10273419', 'North Carolina', '37'],
 ['755393', 'North Dakota', '38'],
 ['11658609', 'Ohio', '39'],
 ['3930864', 'Oklahoma', '40'],
 ['4142776', 'Oregon', '41'],
 ['12805537', 'Pennsylvania', '42'],
 ['1059639', 'Rhode Island', '44'],
 ['5024369', 'South Carolina', '45'],
 ['869666', 'South Dakota', '46'],
 ['6715984', 'Tennessee', '47'],
 ['28304596', 'Texas', '48'],
 ['3101833', 'Utah', '49'],
 ['623657', 'Vermont', '50'],
 ['8470020', 'Virginia', '51'],
 ['7405743', 'Washington', '53'],
 ['1815857', 'West Virginia', '54'],
 ['5795483', 'Wisconsin', '55'],
 ['579315', 'Wyoming', '56'],
 ['3337177', 'Puerto Rico', '72']]

In [44]:
count = 0
firstline = True

for item in resp:
    if firstline:
        firstline = False
        continue
        
    popData.set_value(count, "population", item[0])
    popData.set_value(count, "state", item[1])
    count +=1
    
popData.head()

  population       state
0    4874747     Alabama
1     739795      Alaska
2    7016270     Arizona
3    3004279    Arkansas
4   39536653  California